.container {
  max-width: 1000px;
  margin: 0 auto;
}

.general_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.general_info h1 {
  font-size: 2.7rem;
  font-weight: 400;
}

.general_info p {
  font-size: 0.9rem;
  margin: 0;
}

.general_info .refresh {
  display: flex;
  align-items: center;
}

.general_info .refresh h2 {
  font-weight: 500;
  margin: 0;
}

.general_info .refresh button {
  display: inline-block;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

.inner_container {
  display: flex;
  gap: 2.2rem;
}

.movements {
  width: 550px;
  height: 480px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 2rem;
  background-color: #fff;
  overflow-y: scroll;
}

/* Scrollbar */
.movements::-webkit-scrollbar-track {
  background-color: #fff;
}

.movements::-webkit-scrollbar {
  width: 6px;
}

.movements::-webkit-scrollbar-thumb {
  background-color: #8d8d8d7e;
}
